<a href="https://colab.research.google.com/github/Prachi-python07/Python/blob/master/A_measures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=[22,27,30,23,17,19,26,29,32,33,25,38,40]

In [ ]:
s1=pd.Series(data)
s1

0     22
1     27
2     30
3     23
4     17
5     19
6     26
7     29
8     32
9     33
10    25
11    38
12    40
dtype: int64

In [ ]:
#arithmetic mean
s1.mean()

27.76923076923077

In [ ]:
#geomatric mean
s1.prod()**(1/len(s1))

26.975755033107315

In [ ]:
#min
s1.min()

17

In [ ]:
#max
s1.max()

40

In [ ]:
#mode
s1.mode()

0     17
1     19
2     22
3     23
4     25
5     26
6     27
7     29
8     30
9     32
10    33
11    38
12    40
dtype: int64

In [ ]:
#median
s1.median()

27.0

In [ ]:
#range
rnage=s1.max()-s1.min()
range

range

In [ ]:
#absolute mean deviation
s2=s1-s1.mean()
s2

0     -5.769231
1     -0.769231
2      2.230769
3     -4.769231
4    -10.769231
5     -8.769231
6     -1.769231
7      1.230769
8      4.230769
9      5.230769
10    -2.769231
11    10.230769
12    12.230769
dtype: float64

In [ ]:
s3=abs(s2)
s3

0      5.769231
1      0.769231
2      2.230769
3      4.769231
4     10.769231
5      8.769231
6      1.769231
7      1.230769
8      4.230769
9      5.230769
10     2.769231
11    10.230769
12    12.230769
dtype: float64

In [ ]:
s4=s3.mean()

In [ ]:
s5=s3.sum()

In [ ]:
absmean=(s5/s3.count())
absmean

5.44378698224852

In [ ]:
#standard deviation
n_array=np.array(s2)
n_array

array([ -5.76923077,  -0.76923077,   2.23076923,  -4.76923077,
       -10.76923077,  -8.76923077,  -1.76923077,   1.23076923,
         4.23076923,   5.23076923,  -2.76923077,  10.23076923,
        12.23076923])

In [ ]:
n_array=np.square(n_array)
n_array

array([ 33.28402367,   0.59171598,   4.97633136,  22.74556213,
       115.97633136,  76.89940828,   3.13017751,   1.5147929 ,
        17.89940828,  27.36094675,   7.66863905, 104.66863905,
       149.59171598])

In [ ]:
std_dev=np.sqrt(n_array.mean())
std_dev

6.600161375111581

In [ ]:
std_dev=np.sqrt(n_array.sum()/len(n_array))
std_dev

6.600161375111581